body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.auxD {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: top;
  max-height: 200px;
  overflow-y: auto;
}

.panelNbtn {
  text-align: center;
}

.panelExp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.panelExp {
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.panel-btn {
  align-self: center;
  margin-top: auto; /* Чтобы кнопка была внизу */
}

.resource {
  margin: 5px;
  text-align: left;
}

.saturation {
  margin: 5px 5px 15px 5px;
  text-align: left;
}

.feedBtn {
  margin: 0px 10px;
  padding: 2px 4px;
  background-color: orange;
  font-size: 13px;
}

.feedBtn:hover {
  background-color: #cd8a10;
}

.panel-header {
  margin-top: 0
}

h1, h2 {
  color: #333;
}

form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 300px;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

select {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.input_quantity {
  margin: 0;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Стили для модального окна */
.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Оставаться на одном месте */
  z-index: 1; 
  right: 0;
  top: 0;
  width: 15%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной копии */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и центрированно */
  padding: 10px;
  border: 1px solid #888;
}

.users-modal-content{width: 80%;}
.trade-modal-content{width: 30%;}

/* Стили для закрывающей кнопки */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* стили для кнопок */
button.trade-user-button {
  background-color: #0950AF; 
  border: 1px solid #888;
  color: white; /* Белый цвет текста */
  padding: 5px 16px; /* Отступы */
  text-align: left; 
  text-decoration: none; /* Без подчеркивания */
  display: block; /* Блочный элемент */
  font-size: 12x; /* Размер шрифта */
  margin: 0;
  cursor: pointer; /* Курсор в виде указателя */
  width: 100%;
}

/* Стили при наведении на кнопку */
button.trade-user-button:hover {
  background-color: #238027;
}

.modal1 {
  display: none; /* Скрыть по умолчанию */
  position: fixed; /* Оставить модальное окно видимым (фиксированное положение) */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку при необходимости */
  background-color: rgb(0,0,0); /* Цвет заднего фона */
  background-color: rgba(0,0,0,0.4); /* Чёрный с непрозрачностью */
}

/* Новые стили для расположения элементов */
.trade-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.trade-row label {
  margin-right: 10px;
}

.trade-row select {
  width: auto;
  padding: 5px;
  margin-right: 10px;
}

.trade-row input[type="number"] {
  width: 60px;
  padding: 5px;
}


/* Новое модальное окно в правом нижнем углу */
.modal-bottom-right {
  display: none;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  border-top-left-radius: 10px;
  border: 1px solid #888;
}

.trade-offer-modal-content {
  background-color: #fefefe;
  padding: 20px;
  margin: 1px;
  border-top-left-radius: 10px;
  border: 1px solid #888;
}

/* Стили для закрывающей кнопки */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.red {
  color: red;
}

.green {
  color: green;
}

.common {
  color: #656363;
}

.uncommon {
  color: #41b961;
}

.rare {
  color: #16aaed;
}

.mythic {
  color: #db75d9;
}

.legendary {
  color: #e7ae29;
}